<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.blooddonor">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".FactList"
            android:label="Facts About Blood Donation"
            android:screenOrientation="portrait"
            />
        <activity android:name=".RequestWindow"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListHospitals"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ListDonors"
            android:label="Search Blood Donors"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="message/rfc822" />
            </intent-filter>
        </activity>
        <activity
            android:name=".createRequest"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".updateHospital"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".updateProfile"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HomeScreen"
            android:label="@string/dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginPage"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterBloodBank"
            android:label="@string/registerbloodbank"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterHospital"
            android:label="@string/registerhospita"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterUser"
            android:label="@string/registerdonor"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginOption"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>